<% if signed_in? %>
  <h2>Current Tasks</h2>
  <% @users.each do |user| %>
  <h3><%= name(user) %></h3>
  <ul id="<%= user.id %>">
  <% user.assigned_tasks.each do |task| %>
    <li id="task_<%= task.id %>">
      <span class="handle">::</span>
      <%= task.description %>
      <%= link_to "delete", task, :method => :delete,
                                  :confirm => "Really?",
                                  :title => "Delete task" %> |
      <%= link_to "edit", edit_task_path(task) %>
    </li>
  <% end %>
     <li>
       <%= form_for @task do |f| %>
         <%= render 'shared/error_messages', :object => f.object  %>
         <%= f.hidden_field :assigned_to_id, :value => user.id %>
         <%= f.text_field :description %> <%= f.submit "Add task" %>
       <% end %>
       <form>
        
       </form>
     </li>
  </ul>
  <% end %>
<% else %>
  <p>Jaguar Tasks Home Page.</p>
  <%= link_to "Sign up now!", signup_path, :class => "std-btn" %>
<% end %>

<% content_for :javascript do %>
<%= javascript_tag do %>
  $(function() {
    $("ul").sortable({
      handle: '.handle',
      items: 'li',
      cursor: 'pointer',
      opacity: 0.4,
      update: function(event, ui) {
        $.ajax({
          type: 'POST',
          data: $(event.target).sortable('serialize') + "&user=" +
                $(event.target).attr('id'),
          dataType: 'script',
          success: function(request) {
            // Highlight dropped task?
          },
          url: '/users/reorder_tasks'
        })
      }
    });
  });
<% end %>
<% end %>
