<% if signed_in? %>
  <h2>Current Tasks</h2>
  <% @users.each do |user| %>
  <h3><%= name(user) %></h3>
  <ul>
  <% user.assigned_tasks.each do |task| %>
    <li id="<%= task.position %>" class="ui-state-default">
      <%= task.description %>
      <%= link_to "delete", task, :method => :delete,
                                  :confirm => "Really?",
                                  :title => "Delete task" %> |
      <%= link_to "edit", edit_task_path(task) %>
    </li>
  <% end %>
     <li>
       <%= form_for @task do |f| %>
         <%= render 'shared/error_messages', :object => f.object  %>
         <%= f.hidden_field :assigned_to_id, :value => user.id %>
         <%= f.text_field :description %> <%= f.submit "Add task" %>
       <% end %>
       <form>
        
       </form>
     </li>
  </ul>
  <% end %>
<% else %>
  <p>Jaguar Tasks Home Page.</p>
  <%= link_to "Sign up now!", signup_path, :class => "std-btn" %>
<% end %>
