<section id="main">
  <% if signed_in? %>
    <h2>Stuff We're Doing Now</h2>
    <% @users.each do |user| %>
    <section class="user-tasks <%= cycle("first", "last") %>">
      <h3 id="<%= "#{user.last_name}-#{user.id.to_s}" %>"><%= link_to name(user), user_path(user) %></h3>
      <ul id="<%= user.id %>" class="task-list">
      <% if user.assigned_tasks.empty? %>
        <li class="no-tasks">Hmmmmm...nothing to do.  Check out <%= link_to 'Wikipedia?', 'http://en.wikipedia.org' %></li>
      <% end %>
      <% user.assigned_tasks.each do |task| %>
        <li id="task_<%= task.id %>" class="task">
          <span class="handle">::</span>
          <span class="task-description edit_area" id="<%= task.id %>"><%= task.description %></span>
          <span class="task-functions"><%= link_to "x", task, :method => :delete,
                                      :confirm => "Really?",
                                      :title => "Delete task" %> |
          <%= link_to "e", edit_task_path(task) %></span>
        </li>
      <% end %>
      </ul>

      <div class="submit-action std-button">
        <%= link_to '+ Add Task', new_task_path(:assigned_to => user.id) %>
      </div>
      </section>
    <% end %>
  <% else %>
    <h2>Jaguar Tasks Home Page.</h2>
    <%= link_to "Sign up now!", signup_path, :class => "std-btn" %>
  <% end %>
</section>

<% content_for :javascript do %>
<%= javascript_include_tag "jquery.jeditable" %>
<%= javascript_tag do %>
  $(function() {
    $(".task-list").sortable({
      handle: '.handle',
      items: 'li',
      cursor: 'move',
      opacity: 0.4,
      update: function(event, ui) {
        $.ajax({
          type: 'POST',
          data: $(event.target).sortable('serialize') + "&user=" +
                $(event.target).attr('id'),
          dataType: 'script',
          success: function(request) {
            // Highlight dropped task?
          },
          url: '/users/reorder_tasks'
        })
      }
    });

    $('.edit_area').editable('/tasks/remote_edit_tasks', {
      type: 'textarea',
      cssclass: 'inline-edit',
      id: "task_id",
      name: "task_description",
      submit: 'edit',
      cancel: 'cancel',
      callback: function(value, settings) {
         /*
         alert(this);
         alert(value);
         alert(settings);
         */
      }
    });

  });
<% end %>
<% end %>
