<% if signed_in? %>
  <h2>Current Tasks</h2>
  <% @users.each do |user| %>
  <h3><%= name(user) %></h3>
  <ul>
  <% user.assigned_tasks.each do |task| %>
    <li>
      <%= task.description %>
      <%= link_to "delete", task, :method => :delete,
                                  :confirm => "Really?",
                                  :title => "Delete task" %>,
      <%= link_to "edit", edit_task_path(task) %>
    </li>
  <% end %>
     <li>
       <%= form_for @task do |f| %>
         <%= render 'shared/error_messages', :object => f.object  %>
         <div><%= f.hidden_field :assigned_to_id, :value => user.id %></div> 
         <div class="field">
           <%= f.label :description %>
           <%= f.text_field :description %>
         </div>
         <div class="actions">
           <%= f.submit "New task" %>
         </div>
       <% end %>
       <form>
        
       </form>
     </li>
  </ul>
  <% end %>
<% else %>
  <p>Jaguar Tasks Home Page.</p>
  <%= link_to "Sign up now!", signup_path, :class => "std-btn" %>
<% end %>
